@import "tailwindcss";

.formfield span{
    color: red
}

body.theme-default {
  background-color: white;
  color: black;
}


body.theme-blue {
  background-color: #15202b;
  color: black;
}

body.theme-dark {
  background-color: #0a0a0a;
  color: black;
}

body.theme-dark h1 {
  color: white;
}